.elements__like {
  width: 22px;
  height: 19px;
  opacity: 1;
  transition: .3s;
  cursor: pointer;
}

.elements__like:hover {
  opacity: 0.5;
}

.elements__like:active {
  background-image: url(../../../images/Union.png);
  opacity: 1;
}

.elements__like:disabled {
  opacity: 1;
}